body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  background-color: #318940;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  border-color: #318940;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 50px);
  height: 50px;
  z-index: 200
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10 , minmax(45px, 60px));
  grid-gap: 5px
}

.logo {
  grid-column: 1 / 3;
  color: #FFF;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  padding-left: 10px;
  padding-top: 13px;
  text-align: left
}

.logo:hover {
  color: #FFF
}

.profile-link {
  grid-column: 9 / 10;
  font-size: 15px;
  font-weight: lighter;
  color: #FFF;
  padding: 15px;
  padding-right: 0;
  text-align: right;
  background-color: #318940;
  border: none;
  height: 45px
}

.profile-link:hover {
  color: lightgreen
}

.profile-link:focus {
  outline: none
}


.profile-dropdown {
  background-color: #318940;
  color: #FFF;
  grid-column: 9 / 10;
  grid-row: 2 / 4;
  display: grid;
  grid-row: 50px 50px;
  border-left: 1px solid #318940;
  border-bottom: 1px solid #318940;
  border-right: 1px solid #318940;
}



.inbox {
  color: #FFF;
  margin-top: 18px;
  text-align: left;
  margin-left: 10px
}

.requests {
  color: #FFF;
  text-align: left;
  margin-left: 10px;
  padding-top: 15px;
  border-top: 1px solid #318940
}



.signup {
  grid-column: 10 / 11;
  grid-row: 1;
  font-size: 15px;
  font-weight: lighter;
  color: #FFF;
  padding: 15px
}

.login {
  grid-column: 9 / 10;
  grid-row: 1;
  font-size: 15px;
  font-weight: lighter;
  color: #FFF;
  padding: 15px;
  padding-right: 0;
  text-align: right
}

.log-out {
  grid-column: 10 / 11;
  grid-row: 1;
  font-size: 15px;
  font-weight: lighter;
  color: #FFF;
  padding: 15px;
}


.sitters-link {
  grid-column: 3 / 5 ;
  text-align: left;
  font-size: 15px;
  font-weight: lighter;
  color: #FFF;
  padding: 15px
}

a {
  text-decoration: none
}

a:hover {
  color: lightgreen

}



.login-form-container {
  background-color: #FFF;
  width: 600px;
  grid-column: 4/9;
  grid-row: 2 / 15;
  border-radius: 5px;
  border-bottom: 3px solid #CCCCCC;
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  grid-template-rows: repeat(6, 1fr)
}


.sign-in-text {
  font-weight: bold;
  font-family: "Open Sans" sans-serif;
  grid-column: 1/ 6;
  font-size: 40px;
  padding-top: 45px;
  padding-bottom: 30px
}

.login-form {
  grid-column: 1 / 5;
  grid-row: 2 / 6;
  margin-left: 50px

}
#username {
  grid-column: 1/ 5;
  grid-row: 3 / 4;
  font-family: "Open Sans" sans-serif;
  font-size: 23px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding-left: 10px
  /* margin-top: 50px */
}

#password {
  grid-column: 1/ 5;
  grid-row: 5 / 6;
  font-family: "Open Sans" sans-serif;
  font-size: 23px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding-left: 10px
  /* margin-top: 15px */
}

#login-submit {
  font-size: 18px;
  font-family: "Open Sans" sans-serif;
  color: #FFF;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 0px solid #CCCCCC;
  background-color: #318940;
  margin-top: 15px
}

#login-submit:hover {
  background-color: #3DAB40
}

.label {
  float: left;
  font-family: "Open Sans" sans-serif;
  font-weight: lighter;
  margin-top: 15px
}

.terms {
  font-weight: lighter;
  grid-column: 2 / 5;
  grid-row: 5 / 7;
  font-family: "Open Sans" sans-serif;
  line-height: 20px
}

.homepage {
  grid-column: 1 / 13;
  grid-row: 1 / 40;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 50px);


}

.home-text {
  font-family: "Open Sans" sans-serif;
  font-weight: bold;
  text-align: center;
  grid-column: 4 / 10;
  grid-row: 4 / 5;
  margin: 0;
  color: white;
  margin-top: 20px;
  font-size: 40px;

}

.home-sub {
  font-family: "Open Sans" sans-serif;
  font-weight: bold;
  text-align:center;
  grid-column: 5/ 9;
  grid-row: 5 / 6;
  margin-top: 0;
  color: white;
  margin-top: 30px;
  font-size: 30px
}

.image {
  background-image: url('https://cdn.shopify.com/s/files/1/0750/6435/products/woodchip-magnolia-monstera-leaf-print-wallpaper-3.jpg?v=1535136209');
  grid-column: 1 /13;
  grid-row: 1/ 16
}

.image-cover {
  grid-column: 1 / 13;
  grid-row: 1 / 16;
  background: rgba(0, 0 , 0, 0.5)
}

.request-container {
  position: relative;
  font-family: "Open Sans" sans-serif;
  background-color: #FFF;
  border-radius: 5px;
  border-bottom: 3px solid #CCCCCC;
  grid-column: 3  / 11 ;
  grid-row: 7/ 15;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8 , minmax(40px, 60px))
}

.text {
  font-size: 15px;
  width: 125px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  padding-left: 10px;
}

.request-text {
  font-size: 20px;
  color: #555;
  grid-column: 1 / 3;
  padding: 3%;
  padding-left: 20%;
  text-align: left
}

.label

.start.text {
  margin-top: 10%;
  position: relative;
  left: 15%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.end.text{
  margin-top: 10%;
  position: relative;
  right: 20%;
  grid-column: 2/ 3;
  grid-row: 2 / 3
}

.date-label {
  position:absolute;
  grid-column: 1 / 2;
  margin-bottom: 5%
}

.browse {
  background-color: #f3f3f3;
  grid-column: 1 / 13;
  grid-row: 1 / 20;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18 , minmax(45px, 50px));
  margin-right: 1%;
  margin-left: 1%
}

.sittersContainer {
  background-color: #F3f3f3;
  grid-column: 1 / 6;
  grid-row: 2 / 13;
  overflow: auto;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: repeat(10, minmax(175px, 300px));
}

.sittersContainer::-webkit-scrollbar {
  display: none
}



.sitter-card {
  background-color: #FFF;
  font-family: "Open Sans" sans-serif;
  height: 100%;
  position: relative;
  border-bottom: 2px solid #CCC;
  transition: .3s

}

.sitter-card:hover {
  border-bottom: 5px solid #318940;
  transform: scale(1.03);;
  cursor: pointer
}
.user.icon {
  position: absolute;
  left: 0px;
  top: 40px;
  font-size: 75px;
  color: #318940
}

.sitter-name {
  text-align: left;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #555;
  margin-left: 18%;
  top: 10px
}
.sitter-bio {
  font-weight: 700;
  color: #888888;
  text-align: left;
  font-size: 15px;
  width: 390px;
  position: relative;
  margin-left: 18%;
  margin-top: 3.5%
}
.sitter-address {
  color: #888888;
  font-weight: 300;
  text-align: left;
  position: absolute;
  margin-left: 18%;
  bottom: 3px
}

.map {
  grid-column: 6 / 13;
  grid-row: 2  / 13;
}

.map-cover {
  margin-left:0;
  grid-column: 6 / 13;
  grid-row: 2 / 13;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 20;
  text-align: center;
}


.homePageB {
  background-color: white;
  grid-column: 1 / 13;
  grid-row: 16 / 40;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat( 30 , minmax(45px, 60px))
}

.b-header {
  font-family: "Open Sans" sans-serif;
  color: #555;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  grid-column: 5 / 9;
  grid-row: 3
}

.service-item {
  font-family: "Open Sans" sans-serif;
  color: #555;
  text-align: left;
  position: relative
}

.leaf-icon {
  color: #3DAB40;
  font-size: 100px;
  position: absolute;
  top: 13px
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  width: 270px;
  height: 20px;
  margin-left: 80px
}

.service-desc {
  color: rgba(0, 0 , 0, 0.35);
  font-size: 18px;
  font-weight: 300;
  margin-left: 80px;
  margin-top: 3px;
  line-height: 25px
}

.service-item.a {
  grid-row: 4;
  grid-column: 2 / 7;
}

.service-item.b {
  grid-row: 6;
  grid-column: 2 / 7;
}

.service-item.c {
  grid-row: 8;
  grid-column: 2 / 7;
}


.guarantee-panel {
  font-family: "Open Sans" sans-serif;
  grid-column: 8 / 12;
  grid-row: 4 / 9;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  position: relative;
  height: 250px
}

.panel-header {
  background-color: #f5f5f5;
  height: 50px;
  border-bottom: 1px solid #CCCCCC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #555;
  position: relative
}

.panel-title {
  font-size: 15px;
  position: absolute;
  width: 300px;
  top: 25%;
  left: 18%
}

.check {
  color: #3DAB40;
  margin-right: 3%
}

.panel-body {
  font-size: 15px;
  text-align: left;
  margin-left: 5%;
  margin-top: 5%
}

.panel-text {
  margin-top: 5%
}

.panel-button {
  text-align: center;
  position: absolute;
  top: 190px;
  right: 12px;
  background-color: #3DAB40;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 400px
}

.panel-button:hover {
  background-color: #3DAB40;
  color: white
}

.panel-footer {
  grid-column: 8 / 12;
  grid-row: 8;
  margin-top: 5%
}


.sitter-page {
  grid-column: 1 / 13;
  grid-row: 1 / 21;
  display:grid;
  grid-template-columns: repeat( 12 , 1fr );
  grid-template-rows: repeat(13, 60px);
  background-color: #f3f3f3;
  border-radius: 5px;
  grid-gap: 10px;
}

.sitter-page-card {
  background-color: #FFF;
  grid-column: 1 / 6;
  grid-row: 2 / 5;
  margin-left: 5%;
  border-radius: 5px;
  border-bottom: 1px solid #CCC
}

.about-cont {
  grid-column: 6 / 12;
  grid-row: 2 / 7;
  background-color: white;
  border-bottom: 1px solid #CCC;
  border-radius: 5px
}

.about-header {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px
}

.about {
  font-size: 15px;
  margin-top: 15px
}

.availability {
  grid-column: 1 / 6;
  grid-row: 9 / 13;
  background-color: white;
  margin-left: 5%;
  border-bottom: 1px solid #CCC;
  border-radius: 5px;
  height: 300px
}

.avail-header {
  font-size: 25px;
  float: left;
  margin-left: 20px;
  margin-top: 20px
}

.calendar {
  position: relative;
  top: 0px;
  left: 0px
}

.request-calendar {
  position: relative;
  bottom: 30px
}
.name-header {
  position: relative;
  top: 20px;
  left: 30px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #555
}

.address-header {
  position: relative;
  right: 15px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  margin-top: 3rem;
}


.bio-header {
  position:relative;
  left: 36%;
  width: 65%;
  top: 5%;
  text-align: left
}

.icon.sitters-page {
  color: #318940;
  position: absolute;
  top: 11rem;
  left: .5%;
  font-size: 11rem;
  z-index: 10
}



.contact-page {
  background-color: #FFF;
  padding: 10px;
  grid-column: 1 / 6;
  grid-row: 5 / 9;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(10 , minmax(45px, 50px));
  border-radius: 5px;
  border-bottom: 1px solid #CCCCCC
}


.message-label {
  text-align: center;
  grid-column: 1 / 2;
  font-size: 20px;
  color: #318940;
  grid-row: 1;
  margin-top: 20px
}

.message-input {
  grid-column: 1 / 2  ;
  grid-row: 2 / 4;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
}

.message-input:focus {
  outline: none

}

.send-button {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  height: 45px;
  background-color: #318940;
  border-radius: 5px;
  margin-top: 8px;
  border: none;
  color: #FFF;
}

.send-button:hover {
  color: white;
  background-color: green
}



.requestContainer {
  background-color: #F3f3f3;
  margin-left: 1%;
  margin-right: 1%;
  grid-column: 1 /13;
  grid-row: 2 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 100px)
}

.pending-request {
  background-color: #FFF;
  color: #555;
  margin: 2%;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 5px;
  width: 25%;
  height: 90%;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}



.accepted-request {
  background-color: #FFF;
  color: #555;
  margin: 2%;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 5px;
  width: 25%;
  height: 80%;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  transition: .4s
}

.accepted-request:hover {
  transform: translateY(-3px);
  border-bottom: 2px solid #CCCCCC;

}

.request-owner {
  font-size: 20px;
  font-weight: 700
}

.request-message {
  margin-top: 10px;
  height: 60px;
  overflow: auto
}

.accept-button {
  font-size: 20px;
  background-color: #3DAB40;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 290px;
  left: 15px
}

.deny-button {
  background-color: #3DAB40;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 290px;
  left: 20px;
  font-size: 20px
}


.inbox-page {
  background-color: #F3f3f3;
  margin-left: 1%;
  margin-right: 1%;
  grid-column: 1 /13;
  grid-row: 2 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 100px)
}


.requestCont-header {
  margin-top: 30px;
  height: 50px;
  text-align: left;
  color: #555;
  font-size: 40px;
  grid-column: 2 / 12;
  grid-row: 1;
  border-bottom: 2px solid #555
}

.requests-box {
  grid-column: 2 / 12;
  grid-row: 2 / 7;
  display: flex;
  flex-wrap: wrap
}

.DayPicker-Day--highlighted {
    background-color: rgba(76, 175, 80, 0.2);
    color: green;
  }


.plant-photos {
  background-color: #F3f3f3;
  grid-column: 6/ 12;
  grid-row:  7/ 13;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap
}

.plant-photos::-webkit-scrollbar {
  display:none
}

.photo-container {
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 290px;
  height: 270px;
  overflow: hidden;
  background-size: cover;
  transition: .2s
}

.photo-container:hover {
  box-shadow: 3px 3px 15px #DDD;
  transform: scale(1.03);
}

.upload-form {
  width: 100%;
  margin-bottom: 10px
}
